#container {
    border: 1px solid black; 
    display: flex; 
    height: 500px; 
    width: 500px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: auto;
}

div {
    border: 1px solid black;
}


#rowbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 500px;
}

.colbox {
    flex: 1 1 0; 
}

.hovered {
    background-color: blue;
}